@font-face {
    font-family: 'Barlow';
    src: url('./fonts/Barlow-Regular.ttf');
}
@font-face {
    font-family: 'Barlow-Black';
    src: url('./fonts/Barlow-Black.ttf');
}
@font-face {
    font-family: 'Barlow-Medium';
    src: url('./fonts/Barlow-Medium.ttf');
}
@font-face {
    font-family: 'Barlow-Bold';
    src: url('./fonts/Barlow-Bold.ttf');
}
@font-face {
    font-family: 'Barlow-Light';
    src: url('./fonts/Barlow-Light.ttf');
}
@font-face {
    font-family: 'Barlow-Regular';
    src: url('./fonts/Barlow-Regular.ttf');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;

}

body {
    height: 100%;

}
html {
    font-size: 63.5%;
}
img {
    user-select: none;

}
@media screen and (max-width: 1153px) {
    html {
        font-size: 60.5%
    }

}

@media screen and (max-width: 1130px) {
    html {
        font-size: 50.5%
    }

}
@media screen and (max-width: 350px) {
    html {
        font-size: 43.5%
    }

}
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
